<body>
    <div class="container">
        <div class="login-container">
            <h2>Login</h2>

            <div *ngIf="showError" class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>

            <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
                <div class="mb-12 row">
                    <div class="col-md-12">
                        <input type="text" id="email" formControlName="email" class="form-control" />
                    </div>
                </div>
                <div>
                    <div class="col-md-12">
                        <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
                    </div>
                </div>
                <div class="mb-12 row">
                    <div class="col-md-12">
                        <input type="password" id="password" formControlName="password" class="form-control" />
                    </div>
                </div>
                <div>
                    <div class="col-md-12">
                        <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is
                            required</em>
                    </div>
                </div>
                <br>
                <div class="mb-12 row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>